@media (min-width: 680px) {
    
    //navigation
    .navbutton {
        display: none;
    }

    .navigation {
        border-bottom: 1px solid #167bf02e;

        &__list {
            background: none;
            position: relative;
            left: 0;
            height: 100%;
            width: auto;
            transform: none;
            transition: none;
            margin: 10px 30px;
            border: 0;

            &--active {
                box-shadow: none; 
                //why? if someone clicked the navbutton and then extended the browser window - they would see for the unwanted shadow
            }
        }

        &__item {
            display: inline-block;
            padding: 0;
            margin: 0 12px;
            overflow: unset;

            &:first-child {
                margin: 0 12px;
            }
        }

        &__link {
            font-size: 20px;
            color: $secondColor;
            transition: color .3s ease-in-out;

            &::before {
                opacity: 0;
                width: 100%;
                left: 0;
                top: 17px;
                border-bottom: 2px solid $blueColor;
                
                transition: opacity .4s ease-in-out;
            }

            &:hover, &--active {
                color: $blueColor;
                
                &::before {
                    opacity: 1;
                    transform: none;
                }
            }

            &:target {
                color: red;
            }
        }

    }
}


