@media (min-width: 890px) {
    
    .simple {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 30% 70%;
        grid-gap: 10px;
        align-content: center;
    
        &__figure {
            grid-area: 1 / 1 / 2 / 2;

            height: 100%;
            overflow: unset;
        }

        &__phone::before {
            transform: rotate(351deg);
        }

        .header {
            grid-area: 1 / 2 / 2 / 3;

            justify-content: center;

            &__subtitle {
                text-align: left;
                margin: 30px 0;
            }

            &__title {
                text-align: left;
                font-size: 55px;
                margin: 0;
            }

            &__description {
                margin: 30px 0;
                padding: 0;
            }
        }
    }
     
    .code {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 60% 40%;

        &__figure {
            grid-area: 1 / 2 / 2 / 3;

            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            margin: 0;
        }

        &__page {
            font-size: 400px;
        }

        .header {
            grid-area: 1 / 1 / 2 / 2;

            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;

            &__subtitle {
                text-align: left;
                margin: 20px 0;
            }

            &__title {
                text-align: left;
                max-width: 80%;
                font-size: 55px;
                margin: 0;
            }

            &__description {
                text-align: justify;
                max-width: 80%;
                margin: 20px 0;
                padding: 0;

                &--short {
                    display: none;
                }

                &--long {
                    display: inline-block;
                }   
            }
        }

        &__info {
            grid-area: 2 / 1 / 3 / 3;
        }
    }
        //offer is a pricing element
    .offer {
        grid-template-columns: repeat(auto-fit, minmax(240px, 370px));
    }

}