/* ----------------------------------------------------
Author:     Sebastian Szczypiński
Github:     @sebast4an

CURRENT VERSION IS BETA! I am works!.

Free for everyone. Created for educational purposes.
-------------------------------------------------------- */


//variables
$bgColor: #e3eef8;
$bgColorSecond: #258aff;
$altColor: #666666;
$primaryColor: #1f1f1f;
$secondColor: #222f3f;
$fontFamily: 'Karla', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');


//minxins

//include in: 
@mixin subtitle($color) {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: 2px;
    color: $color;
}

@mixin title {
    margin: 15px auto 10px auto;
    width: 80%;
}

@mixin description($color) {
    padding:0 30px;
    max-width: 90%;
    margin: 20px auto;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    color: $color;
}

@mixin listStyleReset {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@mixin buttonBlue {
    margin: 25px auto;
    min-width: 220px;
    min-height: 60px;
    background-color: $bgColorSecond;
    border: 1px solid $bgColorSecond+(-10%);
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    outline: none;
    transition: background .3s ease-in;
    
    &:hover {
        background-color: $bgColorSecond+50%;
        outline: none;

        transition: background .3s ease-in;
    }

    &:active {
        background-color: $bgColorSecond+(-70%);
        outline: none;
        transition: background .3s ease-in;
    }
}

// typography setting 
h1 {
    font-size: 35px;
    font-weight: 800;
    color: $primaryColor;
}

a {
    text-decoration: none;
    color: $altColor;
}



*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding:0;
    margin: 0;
    min-height: 105vh;
    max-width: 100vw;
    font-family: $fontFamily;
    background-color: $bgColor;
}

.container {
    margin: 0 auto;
}


// navigation
.navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    background-color: $bgColor;
    
    &__logo {
        color: $bgColorSecond;
        font-size: 30px;
        font-weight: 800;
        margin: 10px 20px;
    }

    //navigation panel
    &__list {
        @include listStyleReset;

        position: absolute;
        left: 0;
        top: 0;
        background-color: $bgColorSecond;
        background: linear-gradient(232deg, rgba(37,138,255,1) 50%, rgba(96,163,240,1) 100%);
        width: 70vw;
        height: 100vh;
        border-right: 1px solid $bgColorSecond+(-10%);
        
        transform: translateX(-71vw);
        transition: transform .4s ease-in;

        &--active {
            transform: translateX(0);
            transition: transform .4s ease-in;
            box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
        }
    }
    
    &__item {
        @include listStyleReset;
        padding: 25px;
        margin: 10px;
    
        &:first-child {
            margin-top: 25px;
        }
    }

    &__link {
        color: $bgColor;
        font-size: 25px;
        text-transform: uppercase;

        &:hover {
            display: block;
            font-weight: 600;
        }
        &:hover::before {
            content: "> ";
            font-weight: 600;
            transform: translate(80%);

            transition: transform .3s ease-in;
        }
    }

}

    //button navigation mobile
    .navbutton {
        margin: 0 20px;
        border: 0;
        padding: 0;
        display: inline-block;
        background-color: transparent;
        cursor: pointer;

        &__box {
            position: relative;
            display: inline-block;
            width: 38px;
            height: 38px;
        }

        //lines
        &__fill {
            position: absolute;
            width: 70%;
            height: 2px;
            top: 50%;
            transform: translateY(-50%);
            left: 15%;
            background-color: $secondColor;
            transition: background .6s ease-in;

            //make lines 
            @mixin lines($marginTop) {
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $secondColor;
                margin-top: $marginTop;
                transition: transform .4s ease-in;
            }

            &::before {
                @include lines(8px);
            }

            &::after {
                @include lines(-8px);
            }
        }   //end make line
        
        //active button 
        &--active .navbutton__fill {
            background-color: transparent;
            transition: background-color .2s ease-in-out;
        }

        &--active .navbutton__fill::before{
            background-color: $altColor;
            transform: translateY(-8px) rotate(45deg);

            transition: transform .3s ease-in;
        }

        &--active .navbutton__fill::after {
            background-color: $altColor;
            transform: translateY(8px) rotate(-45deg);

            transition: transform .3s ease-in;
        }
    }

.start {
    min-height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background: $bgColor;
    background: linear-gradient(180deg, rgba(227,238,248,1) 0%, rgba(255,255,255,1) 100%);

    &__header {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
    }

    &__title {
        @include title;
    }

    &__subtitle {
        @include subtitle($altColor);
    }

    &__description {
        @include description($secondColor);
    }

    &__button {
       @include buttonBlue;
    }
}

.simple {
    padding: 40px 0;
    min-height: 600px;
    background-color: $bgColorSecond;
    background: linear-gradient(40deg, rgba(35,134,250,1) 60%, rgba(75,158,255,1) 100%);
    text-align: center;
    color: $bgColor;

    &__figure {
        position:relative;
        min-height: 270px;
        margin: 0;
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    &__phone {
        font-size: 175px;
        color: $bgColor;
        transform:rotate(-25deg);
        position: absolute;
    }
    
    &__header {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
    }

    &__subtitle {
        @include subtitle($secondColor);
    }

    &__title {
        @include title;
        color: $bgColor;
        
    }

    &__description {
        @include description($bgColor+(-20%));
    }
}

.info {
    &__item {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 50px auto;
        width: 80%;
        grid-gap: 15px;
    }

    &__icon {
        font-size: 55px;
        color: $bgColor;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;

    }

    &__header {
        grid-area: 1 / 1 / 2 / 3;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 0;
        padding-bottom: 0;
        letter-spacing: 2px;
        color: $secondColor;
    }

    &__info {
        grid-area: 2 / 2 / 3 / 3;
        text-align: justify;
        color: $bgColor;
        font-weight: 500;
    }

}

.code {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    min-height: 600px;
    background: $bgColor;
    background: linear-gradient(170deg, rgba(227,238,248,1) 30%, rgba(255,255,255,1) 100%);

    &__page {
        font-size: 180px;
        text-align: center;
        color: $secondColor;
    }

    &__subtitle {
        @include subtitle($altColor);
    }

    &__title {
        @include title;
        color: $bgColorSecond;
    }

    &__description {
        @include description($secondColor);
    }
}

.desc {

    &__item {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 50px auto;
        width: 80%;
        grid-gap: 15px;
    }

    &__icon {
        font-size: 55px;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;

    }

    &__header {
        grid-area: 1 / 1 / 2 / 3;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 0;
        padding-bottom: 0;
        letter-spacing: 2px;
        font-weight: 800;
        color:$bgColorSecond;
    }

    &__info {
        grid-area: 2 / 2 / 3 / 3;
        text-align: justify;
        font-weight: 500;
    }
}

.pricing {
    min-height: 600px;
    background-color: $secondColor;
    background: radial-gradient(circle, rgba(52,73,94,1) 0%, rgba(32,47,62,1) 100%);
    color: $secondColor;
    margin: 0 auto;
    padding: 40px;

    &__box {
        background-color: $bgColor;
        padding: 20px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        border: 1px solid $bgColor+(-20%);
        border-radius: 3px;
    }

    &__header {
        text-align: left;
        font-weight: 700;
    }

    &__price {
        text-align: center;
    }

    &__description {
        text-align: justify;
        line-height: 150%;
    }

    &__list {
        @include listStyleReset;

        line-height: 200%;
        margin: 20px 0;
    }

    &__item {
        @include listStyleReset;
    }

    &__button {
        @include buttonBlue;
    }

}

   


.footer {
    background: $bgColor;
    background: linear-gradient(332deg, rgba(227,238,248,1) 56%, rgba(255,255,255,1) 100%);
    padding: 40px 10%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.about {
    grid-area: 1 / 1 / 2 / 2;

    &__logo {
        color: $bgColorSecond;
        font-weight: 800;
        font-size: 40px;
        text-align: left;
    }

    &__description {
        margin: 20px auto;
        font-weight: 600;
        line-height: 200%;
        text-align: center;
        color: $secondColor;
        text-align: justify;
    }

}

.navfooter {
    grid-area: 2 / 1 / 3 / 2;
    padding: 0;
    display: flex;
    flex-flow: column wrap;

    &__header {
        font-weight: 800;
        color: $primaryColor;
        font-size: 24px;
        text-align: left;
    }
    
    &__group {
        line-height: 300%;
        list-style-type: none;
        margin: 20px 0;
        padding: 0;
    }

    &__item {
        @include listStyleReset;
        letter-spacing: 1px;
        text-align: left;

        &:hover {
            color: $altColor;
        }
    }

    &__link {
        color: $bgColorSecond;
        font-weight: 500;

        &:before {
            content: "• "; 
            color: $bgColorSecond;
        }

        &:hover {
         cursor: pointer;
         color: $altColor;
         border-bottom: 1px solid $altColor;
         font-weight: 500;

         transition: .3s ease-in;

         &::before {
            content: "> ";
            color: $altColor;
            font-weight: 500;
        }
        }
    }

}

.social {
    grid-area: 3 / 1 / 4 / 2;
    display: flex;
    flex-flow: row wrap;
  
    &__header {
        font-weight: 800;
        color: $primaryColor;
        font-size: 24px;
        text-align: left;
        display: none;
    }

    &__figure {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: $bgColorSecond;
        border-radius: 50%;
        margin: 0 auto;
        cursor: pointer;
        
        transition: background .3s ease-in;

        &:hover {
            background-color: $secondColor;
            transition: background .3s ease-in;
        }
    }

    &__icon {
        font-size: 20px;
        color: $bgColor;
    }
}

//Breakpoints
@media (min-width:720px) {
    
    .container__item {
        padding-right: 15%;
        padding-left: 15%;
    }

    .simple {

        &__figure{
            height: 680px;
        }

        &__phone {
            font-size: 400px;
        }
    }
    
    //footer 
    .footer {
        grid-template-rows: auto;
        grid-template-columns: 50% 25% 25%;
        padding: 5% 5%;
        align-content: center;

    }

        //first footer box
    .about {
        grid-area: 1 / 1 / 2 / 2;

        &__description {
            margin: 20px 10% 20px 0;
        }
    }

        //second footer box
    .navfooter {
        grid-area: 1 / 2 / 2 / 3;
    }

        // third footer box
    .social {
        grid-area: 1 / 3 / 2 / 4;
        display: grid; //before is it flexbox
        grid-template-rows: auto;
        grid-template-columns: auto;

        &__header {
            display: block;
            grid-area: 1 / 1 / 2 / 3;
        }

        &__figure {
            margin: 0;
        }

        &__icon {
            font-size: 22px;
        }

        &__fb {
           grid-area: 2 / 1 / 3 / 2;
        }

        &__tw {
            grid-area: 2 / 2 / 3 / 3;
        }

        &__insta {
            grid-area: 3 / 1 / 4 / 2;
        }

        &__mail {
            grid-area: 3 / 2 / 4 / 3;
        }
    }

}



@media (min-width: 520px) {
    
    .simple {

        &__figure{
            height: 480px;
        }

        &__phone {
            font-size: 300px;
        }
    }

    .box {
    
    }
}