/* ----------------------------------------------------
Author:     Sebastian Szczypiński
Github:     @sebast4an

CURRENT VERSION IS BETA! I am works!.

Free for everyone. Created for educational purposes.
-------------------------------------------------------- */


//variables
$bgColor: #e3eef8;
$bgColorSecond: #258aff;
$altColor: #666666;
$primaryColor: #1f1f1f;
$secondColor: #222f3f;
$fontFamily: 'Karla', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');


//minxin
@mixin linkStyle {
    text-decoration: none;
    color: $altColor;
}

@mixin navStyle {
    padding:0;
    margin:0;
    text-decoration: none;
    list-style-type: none;
}

@mixin subTitle {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom:0;
    padding-bottom:0;
    letter-spacing: 2px;
    color: $altColor;
}

@mixin title {
    font-size: 35px;
    margin: 15px auto 10px auto;
    width: 80%;
    font-weight: 800;
    color: $primaryColor;
}

@mixin titleDescription {
    padding:0 30px;
    max-width: 90%;
    margin: 20px auto;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    color: $secondColor;
}

@mixin buttonBlue {
    margin: 25px auto;
    min-width: 220px;
    min-height: 60px;
    background-color: $bgColorSecond;
    border: 1px solid $bgColorSecond+(-10%);
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;
    color: #fff;
    outline: none;
    
    &:hover {
        background-color: $bgColorSecond+40%;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
        outline: none;
    }

    &:active {
        background-color: $bgColorSecond+60%;
        outline: none;
    }
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding:0;
    margin: 0;
    min-height: 100vh;
    font-family: $fontFamily;
    background-color: $bgColor;
}

.container {
    margin: 0 auto;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    z-index: 99999;
    
    &__logo {
        color: $bgColorSecond;
        font-size: 20px;
        font-weight: 800;
    }

    &__list {
        @include navStyle;
    }

    &__item {
        @include navStyle;
        display: inline;
        margin: 0 3px;
    }

    &__link {
        @include linkStyle;
        text-transform:uppercase;
        font-size: 14px;
    }
}

.start {
    min-height: 550px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    background: $bgColor;
    background: linear-gradient(180deg, rgba(227,238,248,1) 0%, rgba(255,255,255,1) 100%);

    @media screen and (min-height:600px) {
        min-height: 625px;
    }

    @media screen and (min-height: 700px) {
        min-height: 770px;
    }

    @media screen and (min-height: 900px) {
        min-height: 1000px;
    }

    @media screen and (min-height: 1200px) {
        min-height: 1350px;
    }



    &__header {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
    }

    &__subtitle {
        @include subTitle;
    }

    &__title {
        @include title;
    }

    &__description {
        @include titleDescription;
    }

    &__button {
       @include buttonBlue;
    }
}

.simple {
    padding: 40px 0;
    min-height: 600px;
    background-color: $bgColorSecond;
    background: linear-gradient(40deg, rgba(35,134,250,1) 60%, rgba(75,158,255,1) 100%);
    text-align: center;
    color: $bgColor;

    &__figure {
        position:relative;
        min-height: 270px;
        margin: 0;
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
    }

    &__phone {
        font-size: 175px;
        color: $bgColor;
        transform:rotate(-25deg);
        position: absolute;
    }
    
    &__header {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
    }

    &__subtitle {
        @include subTitle;
        color: $secondColor;
    }

    &__title {
        @include title;
        color: $bgColor;
        
    }

    &__description {
        @include titleDescription;
        color: $bgColor+(-20%);
    }
}

.info {
    &__item {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 50px auto;
        width: 80%;
        grid-gap: 15px;
    }

    &__icon {
        font-size: 55px;
        color: $bgColor;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;

    }

    &__header {
        grid-area: 1 / 1 / 2 / 3;
        @include subTitle;
        color: $secondColor;
    }

    &__info {
        grid-area: 2 / 2 / 3 / 3;
        text-align: justify;
        color: $bgColor;
        font-weight: 500;
    }

}

.code {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    min-height: 600px;
    background: $bgColor;
    background: linear-gradient(170deg, rgba(227,238,248,1) 30%, rgba(255,255,255,1) 100%);

    &__page {
        font-size: 180px;
        text-align: center;
        color: $secondColor;
    }

    &__subtitle {
        @include subTitle;
    }

    &__title {
        @include title;
        color: $bgColorSecond;
    }

    &__description {
        @include titleDescription;
    }
}

.desc {

    &__item {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        margin: 50px auto;
        width: 80%;
        grid-gap: 15px;
    }

    &__icon {
        font-size: 55px;
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
        align-items: center;

    }

    &__header {
        grid-area: 1 / 1 / 2 / 3;
        @include subTitle;
        font-weight: 800;
        color:$bgColorSecond;
    }

    &__info {
        grid-area: 2 / 2 / 3 / 3;
        text-align: justify;
        font-weight: 500;
    }
}

.pricing {
    min-height: 600px;
    padding: 40px 0;
    margin: 0 auto;
    text-align: center;
    background-color: $secondColor;
    color: $bgColor;
    display: flex;
    flex-flow: column wrap;
}

.box {
    background-color: $bgColor;
    border: 1px solid $bgColor;
    border-radius: 3px;
    margin: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    &__header {
        @include title;
        text-transform: uppercase;
        color: $secondColor;
        padding: 20px;
    }

    &__subtitle {
        @include subTitle;
        margin: 0 auto;
        padding: 10px;
        font-size: 50px;
    }

    &__description {
        @include titleDescription;
        color: $secondColor;
        text-align: justify;
      }

    &__button {
        @include buttonBlue;
  

        &:hover {
            background-color: $bgColorSecond+40%;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            outline: none;
        }
    
        &:active {
            background-color: $bgColorSecond+60%;
            outline: none;
        }
    }

    &__group {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        margin:0 auto;
        padding: 4px;
    }

    &__list{
        text-align: left;

        &-mark{
            color: $bgColorSecond;
        }
    }

    // active elements
    &-active{
        background-color: $bgColorSecond;
        background: linear-gradient(203deg, rgba(35,134,250,1) 60%, rgba(75,158,255,1) 100%);
        color: $bgColor;
        border: 1px solid $bgColorSecond;
    }

    &__header-active {
        color: $bgColor;
    }

    &__subtitle-active {
        color: $secondColor;
    }

    &__description-active {
        color: $bgColor;
    }

    &__button-active {
        background-color: $bgColor;
        color: $bgColorSecond;

        &:hover {
            background-color: $bgColor+40%;
            box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
            outline: none;
        }
    
        &:active {
            background-color: $bgColor+60%;
            outline: none;
        }
    }

    &__list-markactive {
        color:$secondColor;
    }
}

.footer {
    background: $bgColor;
    background: linear-gradient(332deg, rgba(227,238,248,1) 56%, rgba(255,255,255,1) 100%);
    padding: 40px 0;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;

    &__box {
      
    }
}

.about {
    grid-area: 1 / 1 / 2 / 2;

    &__logo {
        margin: 0 auto;
        padding: 0 30px;
        max-width: 90%;
        color: $bgColorSecond;
        font-weight: 800;
        font-size: 40px;
        text-align: left;
    }

    &__description {
        @include titleDescription;
        text-align: justify;
    }

}

.navfooter {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
    padding: 0;

    &__header {
        @include title;
        font-size: 30px;
        text-align: left;
    }
    
    &__group {
        line-height: 300%;
        display: flex;
        flex-flow: column wrap;
    }

    &__item {
        @include navStyle;
        letter-spacing: 1px;
        text-align: left;

        &:hover {
            color: $altColor;
        }
    }

    &__item:before {
        content: "•"; 
        color: $bgColorSecond;
    }

    &_item:hover::before {
        color: $altColor;
    }


    &__link {
        @include linkStyle;
        color: $bgColorSecond;
        font-weight: 700;

        &:hover {
         color: $altColor;   
        }
    }

}

.social {
    grid-area: 3 / 1 / 4 / 2;
    margin:0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-width: 90%;

    &__figure {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background: $bgColorSecond;
        border-radius: 50%;
        margin: 0 10px;

        &:hover {
            background-color: $secondColor;
        }
    }

    &__icon {
        font-size: 20px;
        color: $bgColor;
    }


}