/* ----------------------------------------------------
Author:     Sebastian Szczypiński
Github:     @sebast4an

Free for everyone. 
-------------------------------------------------------- */

//variables
$mainWhite: #e3eef8;
$classicWhite: #fff;
$blueColor: #258aff;
$greyColor: #666666;
$blackColor: #1f1f1f;
$secondColor: #222f3f;
$orangeColor: #fc593b;
$fontFamily: 'Karla', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

//minxins
@mixin subTitle($color) {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 0;
    letter-spacing: 2px;
    color: $color;
}

@mixin title() {
    margin: 15px auto 10px auto;
    width: 80%;
}

@mixin description($color) {
    padding:0 30px;
    max-width: 90%;
    margin: 20px auto;
    font-weight: 600;
    line-height: 200%;
    text-align: center;
    color: $color;
}

@mixin listStyleReset() {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

@mixin button($color) {
    margin: 25px auto;
    min-width: 220px;
    min-height: 60px;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;
    outline: none;
    border: 1px solid $color+(-15%);
    background-color: $color;
    color: $color+(-90%);
    border-bottom: 9px solid $color+(-15%);
    
    transition: background-color .4s linear,
                color .4s linear, 
                border-bottom .3s ease-in-out,
                box-shadow .3s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
        background-color: $color+15%;
        color: $blackColor+(20%);
    }

    &:active {
       border-bottom: 4px solid $color+(-15%);
    }
}

    //for box (start and simple elements)
@mixin boxAnotherGrid() {
    .box {
        &__icon {
            font-size: 60px;
            grid-area: 2 / 1 / 3 / 2;
        }

        &__header {
            grid-area: 1 / 1 / 2 / 3;
        }

        &__description {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}

// typography setting 
h1 {
    font-size: 35px;
    font-weight: 800;
    color: $blackColor;
}

a {
    text-decoration: none;
    color: $greyColor;
}

button, input {
    font-family: $fontFamily;
}

//global setting
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    padding:0;
    margin: 0;
    min-height: 105vh;
    max-width: 100vw;
    font-family: $fontFamily;
    background-color: $mainWhite;
}


.container {
    margin: 0 auto;
}


.navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    z-index: 99999;
    background-color: $mainWhite;
    
    &__logo {
        color: $blueColor;
        font-size: 30px;
        font-weight: 800;
        margin: 10px 20px;
    }

    //navigation panel
    &__list {
        @include listStyleReset();
        position: absolute;
        left: -70vw;
        top: 0;
        background-color: $blueColor;
        background: linear-gradient(232deg, rgba(37,138,255,1) 50%, rgba(96,163,240,1) 100%);
        width: 70vw;
        height: 100vh;
        border-right: 1px solid $blueColor+(-10%);

        transition: transform .5s ease-in-out,
                    box-shadow .5s ease-in-out;

        &--active {
            transform: translateX(70vw);
            box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
        }
    }
    
    &__item {
        @include listStyleReset();
        padding: 25px;
        margin: 10px;
        overflow: hidden; // for before transition
    
        &:first-child {
            margin-top: 25px;
        }
    }

    &__link {
        color: $mainWhite;
        font-size: 25px;
        text-transform: uppercase;
        position: relative;

        transition: font-weight .3s ease-in-out;

        &::before {
            content: " ";
            position: absolute;
            top: 0;
            left: -200%;  //because overflow:hidden is __item
            width: 100%;
            height: 100%;
            border-bottom: 2px solid $mainWhite;

            transition: transform .4s ease-in-out;
        }

        &:hover {
            font-weight: 800;
            
            &::before {
                transform: translateX(200%);
            }
        }



    }
}

    // is a navigation element (button navigation mobile)
    .navbutton {
        margin: 0 20px;
        border: 0;
        padding: 0;
        display: inline-block;
        background-color: transparent;
        cursor: pointer;

        &__box {
            position: relative;
            display: inline-block;
            width: 38px;
            height: 38px;
        }

        //lines
        &__fill {
            position: absolute;
            width: 70%;
            height: 2px;
            left: 15%;
            top: 50%;
            transform: translateY(-50%);
            
            background-color: $secondColor;
            transition: background .6s ease-in;

            //make lines 
            @mixin lines($marginTop) {
                content: "";
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $secondColor;
                margin-top: $marginTop;

                transition: transform .4s ease-in;
            }

            &::before {
                @include lines(8px);
            }

            &::after {
                @include lines(-8px);
            }
        }   //end make line
        
        //active button 
        &--active .navbutton__fill {
            background-color: transparent;
            transition: background-color .2s ease-in-out;
        }

        &--active .navbutton__fill::before{
            background-color: $greyColor;
            
            transform: translateY(-8px) rotate(45deg);
            transition: transform .3s ease-in;
        }

        &--active .navbutton__fill::after {
            background-color: $greyColor;

            transform: translateY(8px) rotate(-45deg);
            transition: transform .3s ease-in;
        }
    }
//end of navigation

.start {
    min-height: 105vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: $mainWhite;
    background: linear-gradient(180deg, rgba(227,238,248,1) 0%, rgba(255,255,255,1) 100%);

    &__header {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;
        margin: 100px auto 0 auto;
    }

    &__title {
        @include title();
    }

    &__subtitle {
        @include subTitle($greyColor);
    }

    &__description {
        @include description($secondColor);
    }

    &__button {
       @include button($blueColor);
    }

    .box {
        text-align: center;

        &__item {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-gap: 15px;
            margin: 50px auto;
            width: 80%;
        }
        
        &__icon {
            grid-area: 2 / 1 / 3 / 2;

            display: flex;
            align-items: center;
            font-size: 55px;
            color: $blueColor;            
        }
       
        &__header {
            grid-area: 1 / 1 / 2 / 3;

            text-transform: uppercase;
            font-weight: 700;
            font-size: 16px;
            letter-spacing: 2px;
            color: $secondColor;
            margin-bottom: 0;
            padding-bottom: 0;
        }
        
        &__description {
            grid-area: 2 / 2 / 3 / 3;

            text-align: justify;
            font-weight: 500;
            color: $secondColor;
        }
    }
} //end of start

.simple {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 0;
    background-color: $blueColor;
    background: linear-gradient(40deg, rgba(35,134,250,1) 60%, rgba(75,158,255,1) 100%);
    text-align: center;
    color: $mainWhite;

    &__figure {
        display: flex;
        flex-flow:column wrap;
        justify-content: center;
        align-items: center;
        position: relative;
        min-height: 270px;
        margin: 30px 0;
        overflow: hidden;
    }

    &__phone {
        position: absolute;
        font-size: 245px;
        color: $mainWhite;
        
        &::before {
            transform:rotate(-25deg);
        }
    }
    
    .header {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        text-align: center;

        &__subtitle {
            @include subTitle($secondColor);
        }
    
        &__title {
            @include title();
            color: $mainWhite;
        }
    
        &__description {
            @include description($mainWhite+(-20%));
            text-align: justify;
        }
    }

}

//end of simple

.code {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px 0;
    background: $mainWhite;
    background: linear-gradient(170deg, rgba(227,238,248,1) 30%, rgba(255,255,255,1) 100%);

    &__page {
        font-size: 180px;
        text-align: center;
        color: $secondColor;
    }
    
    .icon-landingpage:before {
        margin: 0;
    }

    .header {
        &__subtitle {
            @include subTitle($greyColor);
        }
    
        &__title {
            @include title();
            color: $blueColor;
        }
    
        &__description {
            @include description($secondColor);

            &--long {
                display: none;
            }
        }
    }
        
    .box {
        &__item {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            grid-gap: 15px;
            width: 80%;
            margin: 50px auto;
        }

        &__icon {
            grid-area: 2 / 1 / 3 / 2;
 
            display: flex;
            align-items: center;
            font-size: 55px;
        }

        &__header {
            grid-area: 1 / 1 / 2 / 3;

            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 2px;
            font-weight: 800;
            color:$blueColor;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &__description {
            grid-area: 2 / 2 / 3 / 3;

            text-align: justify;
            font-weight: 500;
        }
    }
} //end of code


.pricing {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    background-color: #182e47;
    color: $secondColor;
    margin: 0 auto;
    padding: 4% 6% 80px;

    &__header {
        text-align: center;
        color: $orangeColor;
        margin: 30px auto 50px;
    }

    &__subtitle {
        @include subTitle($classicWhite);
        text-align: center;
        margin: 0 auto 15px;
    }

    &__title {
        @include title();
        color: $orangeColor;
    }
}
    //is a pricing element
.offer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(240px, 298px));
    grid-gap: 2%;
    justify-content: center;
    justify-self: center;

    &__box {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
        background-color: $classicWhite;
        border-radius: 3px;
        margin: 0 auto;
        padding: 30px;
        color: $blackColor;
    }


    &__header {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: $greyColor;

        p {
            margin:0;
            padding:0;
        }
    }

    &__price {
        align-self: center;
        position: relative;

        span {
            font-size: 20px;
            font-weight: 700;

            //style for dolar
            &:first-child {
                position: absolute;
                top: 0;
                left: -15%;   
            }

            //style for text "/month"
            &:last-child {
                font-weight: 600;
            }
        }
    }

    &__description {
        text-align: justify;
        line-height: 150%;
        font-size: 13px;
        color: $greyColor;
    }

    &__list {
        @include listStyleReset();
        line-height: 250%;
        font-size: 17px;
        margin: 20px 0;
    }

    &__item {
        @include listStyleReset();
    }

    &__button {
         @include button($blueColor);
    }

    //active box 
    &__box--active {
        background-color: #2b405a;
        color: $classicWhite;

        .offer {
            &__header, 
            &__description,
            &__price {
               color: $classicWhite;
            }
    
            &__button {
                align-self: left;
                @include button($orangeColor);
            }
        }
    }
}  //end of pricing

.footer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    justify-content: center;
    background: $mainWhite;
    background: linear-gradient(332deg, rgba(227,238,248,1) 56%, rgba(255,255,255,1) 100%);
    padding: 40px 10%;

    .about {
        grid-area: 1 / 1 / 2 / 2;
    
        &__logo {
            font-weight: 800;
            font-size: 40px;
            text-align: left;
            color: $blueColor;
        }
    
        &__description {
            font-weight: 600;
            line-height: 200%;
            text-align: justify;
            margin: 20px auto;
            color: $secondColor;
        }
    }

    .navfooter {
        grid-area: 2 / 1 / 3 / 2;

        display: flex;
        flex-flow: column wrap;
        padding: 0;
    
        &__header {
            font-weight: 800;
            font-size: 24px;
            text-align: left;
            color: $blackColor;
        }
        
        &__group {
            line-height: 300%;
            list-style-type: none;
            margin: 20px 0;
            padding: 0;
        }
    
        &__item {
            @include listStyleReset();
            letter-spacing: 1px;
            text-align: left;
    
            &:hover {
                color: $greyColor;
            }
        }
    
        &__link {
            font-weight: 500;
            color: $blueColor;
    
            &:before {
                content: "• "; 
                color: $blueColor;
            }
    
            &:hover {
             border-bottom: 1px solid $greyColor;
             font-weight: 500;
             cursor: pointer;
             color: $greyColor;
    
             transition: .3s ease-in;
    
                &::before {
                    content: "> ";
                    color: $greyColor;
                    font-weight: 500;
                }
            }
        }
    }
    
    .social {
        grid-area: 3 / 1 / 4 / 2;

        display: flex;
        flex-flow: row wrap;
      
        &__header {
            display: none;

            font-weight: 800;
            font-size: 24px;
            text-align: left;
            color: $blackColor; 
        }
    
        &__figure {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: 0 auto;
            cursor: pointer;
            
            background: $blueColor;
            transition: background .3s ease-in;
    
            &:hover {
                background-color: $secondColor;
                transition: background .3s ease-in;
            }
        }
    
        &__icon {
            font-size: 20px;
            color: $mainWhite;
        }
    }
}


//Breakpoints
@import "520px"; //simple icon
@import "600px"; //navigation 
@import "710px"; //container__item, code, footer
@import "890px"; //pricing__box, simple

@media (min-width: 1000px) {
    .simple {
        &__phone {
            font-size: 410px;
        }
    }
}


@media (min-width: 1200px) {
    
    .start {
        @include boxAnotherGrid();

        .box {
            margin: 60px 0 0 0;
        }
    }

    .simple {
        grid-template-columns: 30% 60%;

        &__phone {
            font-size: 450px;
        }
    }

    .code {
        @include boxAnotherGrid();
    }

    .footer {
        grid-template-columns: 40% 20% 20%;
        padding: 3% 12%;
    }
}

@media (min-width: 1500px) {
    .container__item {
        padding: 20px 14%;
    }

    .simple {
        .header {
            &__subtitle,
            &__description {
                margin: 40px 0;
            }
        }
    }
}

@media (min-width: 1700px) {
    .container__item {
        padding: 20px 18%;
    }
}

